:root {
  --dark-color: #000000;
  --light-color: #e8f7fb;
}

@font-face {
  font-family: Integral CF;
  src: url("assets/fonts/integralcf-bold.otf");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
  margin: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

/* Buttons */

.btn {
  border-radius: 62px;
  width: 210px;
  text-decoration: none;
  color: #fff;
  padding: 16px 54px;
  align-items: center;
  display: inline-block;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn.dark {
  background: var(--dark-color);
}

.btn.light {
  color: #000;
}

/* Header */

header {
  background: #fff;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1440px;
  top: 0;
  padding: 20px 100px;
  z-index: 10;
  margin-top: 20px;
}

nav.scrolled {
  background: #fff;
  box-shadow: 0 16px 5px -8px rgba(54, 52, 52, 0.3);
  padding: 12px;
  margin: 0;
}

nav .logo {
  font-family: "Integral CF", sans-serif;
  color: #000;
  font-size: 32px;
  font-style: bold;
  font-weight: 700;
  position: relative;
}

nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  position: absolute;
  transform: translateX(40%);
}

nav ul li a {
  color: #000;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  font-weight: 400;
  text-decoration: underline;
}

.sales-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 9px 100px;
  background: var(--dark-color);
  color: var(--light-color);
}

.sales-bar p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sales-bar a {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.sales-bar span {
  padding-left: 5px;
}

.sales-bar .close-icon {
  position: absolute;
  right: 100px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.search form {
  margin-left: 70px;
  margin-top: 50px;
  position: relative;
}

.search form input {
  padding: 12px 70px;
  border-radius: 62px;
  width: 577px;
  line-height: 200%;
  border: none;
  background: #f0f0f0;
  transform: translateY(-50%);
}

.search form .submit-btn {
  position: absolute;
  left: 8px;
  transform: translateY(-50%);
  border-radius: 12px;
  padding: 8px 16px;
  border: 0;
  cursor: pointer;
}

.hero-section {
  display: flex;
  width: 100%;
  margin-top: 110px;
  padding: 75px 100px;
  color: #fff;
  background-image: url("images/hero-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 67% 50%;
  position: relative;
}

.hero-section .left {
  width: 100%;
}

.hero-section .left h1 {
  font-family: "Integral CF", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 0;
  color: var(--dark-color);
  color: #000;
}

.hero-section .left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 32px;
  margin-top: 32px;
  width: 545px;
  color: var(--dark-color);
}

.hero-section .right {
  position: relative;
  width: 100%;
}

.hero-section .btn {
  margin-bottom: 238px;
}

.hero-section .star-left {
  position: absolute;
  left: 10px;
  top: 45%;
}

.hero-section .star-left img {
  width: 56px;
  height: 56px;
}

.hero-section .star-right {
  position: absolute;
  right: -40px;
  top: 40px;
}

.hero-section .star-right img {
  width: 104px;
  height: 104px;
}

/* Punchline cards */

.punchline-cards {
  display: flex;
  position: absolute;
  left: 100px;
  bottom: 160px;
  gap: 50px;
}

.punchline-cards .content {
  padding: 8px 8px;
  position: relative;
}

.punchline-cards h3 {
  margin: 0;
  color: var(--dark-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.punchline-cards p {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.brands {
  background: var(--dark-color);
  display: flex;
  justify-content: space-around;
  padding: 32px 100px;
  gap: 106px;
}

/* Section New Arrivals */

section {
  margin-top: 100px;
}

h2 {
  color: var(--dark-color);
  text-align: center;
  font-family: "Integral CF", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
}

.item-cards .img-container {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background: #f0eeed;
  padding: 10px 5px;
}

.item-cards .item-card {
  margin-top: 55px;
  width: 296px;
}

.item-cards .item-card h3 {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.item-cards .item-card .rating {
  margin-top: 0;
  display: flex;
}

.item-cards .item-card .score {
  padding: 0px 20px;
}

.item-cards .item-card .price {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.item-cards .item-card .price p {
  margin: 0;
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 700;
}

.item-cards .item-card .prev-price p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: line-through;
}

.item-cards .item-card .discount {
  border-radius: 25px;
  background: rgba(255, 51, 51, 0.1);
  width: 58px;
}

.item-cards .item-card .discount p {
  color: #f33;
  font-size: 12px;
  font-weight: 500;
  padding: 6px 14px;
  text-decoration: none;
  text-align: center;
}

.new-arrivals .wrapper {
  position: relative;
}

.new-arrivals .btn {
  margin-top: 50px;
  margin-left: auto;
}

hr.solid {
  margin-top: 50px;
  border-top: 1px solid #bbb;
}
