$font: "Satoshi";

@font-face {
  font-family: Integral CF;
  font-display: swap;
  src: url("../assets/fonts/integralcf-bold.otf");
}
@font-face {
  font-family: Satoshi;
  font-display: swap;
  src: url("../assets/fonts/Satoshi-Regular.otf");
}
