/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1440px;
  top: 0;
  padding: 20px 100px;
  z-index: 10;
  margin-top: 20px;
  transition: all 330ms ease;
  &.scrolled {
    background: #fff;
    box-shadow: 0 16px 5px -8px rgba(54, 52, 52, 0.3);
    padding: 12px;
    margin: 0;
  }
  & div.logo {
    font-family: "Integral CF", sans-serif;
    color: #000;
    font-size: 32px;
    font-style: bold;
    font-weight: 700;
    position: relative;
  }
  & ul {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    position: absolute;
    transform: translateX(40%);
  }
  & ul li a {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
  }
}
